############################
# PYTHON CACHE
############################
__pycache__/
*.pyc
*.pyo

############################
# VIRTUAL ENV
############################
venv/
.env/
.venv/

############################
# JUPYTER
############################
.ipynb_checkpoints/

############################
# LOG FILES
############################
*.log

############################
# TEMP FILES
############################
*.tmp

############################
# OS FILES
############################
.DS_Store
Thumbs.db

############################
# IDE
############################
.vscode/

############################
# KEEP FOLDERS
############################
data/*
!data/.gitkeep
